body{
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    background-image: url('Conquering-the-mountains-2.jpg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    user-select: none;
    backdrop-filter: blur(5px);
}

.container{
    border-radius: 70px ;
    margin: auto;
    width: 70vw;
    text-align: center;
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.buttons{
    margin-top: 24px;
}

button{
    border: none;
    background-color: #c47260;
    font-size: 1.5vw;
    padding: 12px;
    border-radius: 12px;
    font-family: 'Inconsolate', monospace;
    color: whitesmoke;
    width: 8vw;
}

ul{
    margin-top: 20px;
    font-size: 1.8vw;
    list-style:square;
}